body {
    background-color: #EE9AAA;
    font-family: 'Exo 2', sans-serif;
    color: #513D49;
    
}
#intro {
    background-color: white;
    text-align: center;
    border: 2px solid #513D49;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 200px 200px 10px 10px;
    padding: 20px; 
    
}
h1 {
    font-size: 3em;
    text-shadow: 2px 2px #E44462;
}

#introPara {
    font-size: 1.5em;
}

#formDiv {
    
    display: block;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
form {
    background-color: #EE9AAA;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    font-size: 1.5em;
    
}
.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-clip: padding-box;
    border: 2px solid #513D49;
    border-radius: 5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: -.5rem; 
    font-size: 1em;
}
.form-control:focus {
    border-color: #E6BD51;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #E6BD51;
}
#buttonID {
    width: 100%;
    color: white;
    background-color: #E44462;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 1em;

}
#buttonID:hover {
    color: #E44462;
    background-color: white;
}
#buttonID::after {
    color: #513D49;
    background-color: grey;
    font-style: italic;
}
img {
    width: 30%;
    background-color: white;
    padding: 20px;
    border: 2px solid #513D49;
    border-radius: 10px;
    float: left;
}
.hidden {
    display: none;
}

.box {
    width: 300px;
    margin: 50px auto;
    background: #E6BD51;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: white;
    position:relative;
    border-radius: 10px;
  }

  .speechBubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #E6BD51;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #E6BD51;
    left: -15px;
    top: 50px;
}
  

#clearForm {
    width: 50%;
    color: white;
    background-color: #E44462;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 1em;
}

#clearForm:hover {
    color: #E44462;
    background-color: white;
}